* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(177, 116, 73);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  font-size: 3rem;
  color: rgb(56, 31, 14);
}

.auth {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding: 40px;
  border: 2px double black;
  border-radius: 10px;
}

.authBtns button {
  padding: 20px;
  border: 1px solid black;
  background-color: rgb(106, 53, 17);
  font-size: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width : 767px) {
  .head {
    font-size: 2rem;
  }

  .authBtns button {
    font-size: 1rem;
    padding: 15px;
  }
}

.dash {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(177, 116, 73);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(115, 55, 12);
  padding: 15px;
}

.note {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(27, 14, 4);
}

.pro {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(27, 14, 4);
  gap: 15px;
}

.profIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profIcon :nth-child(1) {
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(177, 116, 73);
}

.logout {
  cursor:pointer
}

@media (max-width : 767px) {
  .note, .pro {
    font-size: 1.1rem;
  }
}

.notes {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.twosec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 2px solid black;
  background-color: rgb(216, 157, 114);
  height: 35rem;
  width: 35rem;
  border-radius: 10px;
  color: rgb(27, 14, 4);
}

.create nav:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 500;
}

.create nav:nth-child(2) {
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
}

.textarea {
  width: 30rem;
  height: 25rem;
  font-size: 1.2rem;
}

.textarea:focus {
  outline: none;
}

.create button {
  border-radius: 10px;
  border: 1px solid rgb(106, 53, 17);
  background-color: rgb(222, 149, 76);
  font-size: 1rem;
  padding: 20px;
  cursor: pointer;
}

.saved {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 35rem;
  width: 35rem;
  background-color: rgb(216, 157, 114);
  border-radius: 10px;
  overflow-y: auto;
}

.saved h1 {
  padding: 10px;
  color: rgb(27, 14, 4);
}

.savNotes {
  text-align: center;
  margin-top: 60px;
  font-size: 2rem;
  color: rgb(27, 14, 4);
  font-weight: 300;
}

.sav {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(27, 14, 4);
  background-color: rgb(115, 55, 12);
  margin: 6px;
  border-radius: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: rgb(240, 128, 47);
}

.icons {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.writenotes {
  color: rgb(232, 230, 228);
  padding: 5px;
  overflow-wrap: break-word;
}

@media (max-width : 767px) {
  .twosec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .create, .saved {
    padding-top: 10px;
    height: 20rem;
    width: 20rem;
  }

  .create nav:nth-child(1) {
    font-size: 1rem;
  }

  .create nav:nth-child(2) {
    font-size: 3rem;
  }

  .textarea {
    height: 15rem;
    width: 15rem;
  }

  .create button {
    padding: 10px;
  }

  .saved h1 {
    font-size: 1.5rem;
  }

  .savNotes {
    font-size: 1rem;
  }
}

.signuppage, .loginpage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(177, 116, 73);
}

.signuppage h1, .loginpage h1 {
  color: rgb(27, 14, 4);
  font-size: 3rem;
  margin-bottom: 10px;
}

.loginpage form {
  height: 18rem;
  width: 20rem;
}
 
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 1.5rem;
  gap: 15px;
  height: 22rem;
  width: 22rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(216, 157, 114);
}

form input {
  font-size: 1.3rem;
  outline: none;
  padding: 4px;
  border-radius: 5px;
}

.signuppage button, .loginpage button {
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(216, 104, 24);
  color: rgb(56, 31, 14);
  font-size: 1.1rem;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width : 767px) {
  .signuppage h1, .loginpage h1 {
    font-size: 1.7rem;
  }

  form {
    font-size: 1rem;
    height: 20rem;
    width: 20rem;
  }

  .loginpage form {
    height: 15rem;
    width: 18rem;
  }

  form input {
    font-size: 1rem;
  }

}

